* {
    box-sizing: content-box;
}

.nav{
    width: 100%;
    height: 7rem;
    background-color: #884A39;
    display: flex;
    justify-content: space-around;
    align-items: center;
    img{
        height: 50%;

        filter: invert(100%) sepia(52%) saturate(424%) hue-rotate(359deg) brightness(109%) contrast(108%);
        &:hover {
            position: relative;
            top: 10px;

        }
    }
}
