// screen sizes
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1280px;

// colors
$darkBrown: #7f6251;
$mediumBrown: #b49783;
$lightBrown: #e1b08c;
$white: #FFFFFF;
$lightGray: #808080;
$darkGray:#686868;
$softPink:#ff7777;

