// screen sizes
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1280px;

// colors
$primaryBlack: #323232;
$primarySilver: #AFAFAF;
$primaryWhite: #FFFFFF;

$secondaryBlack: #000000;
$secondaryMercury: #E1E1E1;
$secondaryAlabaster: #FAFAFA;

$primary-body-font-color: $primaryBlack;
$primary-footer-nav-font-color: $primaryWhite;
$primary-body-font-color:$secondaryBlack;